*{
  margin: 0px;
  padding: 0px;
  box-sizing: 0px;
}

@media (max-width: 834px) { /* Tablet */
  .list-group-container, .order-container {
    width: 100%;
    margin-bottom: 20px;
  }
}

@media (max-width: 375px) { /* Mobile */
  .d-flex {
    flex-direction: column;
  }
  .order-container {
    text-align: center;
  }
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.cart-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.order-container{
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
}

.shipping-fee-container{
  background: #efefef;
  padding-top: 32px;
  padding-bottom: 32px;
  margin-bottom: 24px;
}

.order-fee-container{
  background: #efefef;
  padding-top: 32px;
  padding-bottom: 32px;
}

/* .list-group-container{
  width: 100%;
} */
